.row {
    margin-bottom: 20px;
}
[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: darkgray;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    font-size: 12px;
}